{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            By <a href="#">Saint-Cyr MAPOUKA</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}