<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <a href="{{ path('fos_user_security_logout') }}" style="margin-top: 10px;" class="btn btn-success">Logout</a>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('images/logo.png') }}" alt="">
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="#"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-database"></i>
                        <span class="badge bg-red">6</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="badge bg-red">1</span>
                        <span>
                            <span style="font-size: 14px;">RAM format A4 </span><br>
                          <i style="font-size: 13px;">- Valley -</i>
                          <span class="time">45 mins ago</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="badge bg-yellow">2</span>
                        <span>
                          <span style="font-size: 14px;">Casque MP3 </span><br>
                          <i style="font-size: 13px;">- Bata Nlongkak -</i>
                          <span class="time">1 day ago</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                    
                  </ul>
                    
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->